@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.height {
    height: 80vh;
}

.reg {
    color: white;
    font-weight: bold;
    text-align: center;
}

.divider {
border-style: solid;
border-color: black;
border-width: 2px;
width: 20%;
margin-left: 40%;
margin-right: 40%;

}

.info {
color: white;
text-align: center;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image:url('https://wallpaperaccess.com/full/2314950.jpg');
    background-size: cover;
    background-position: center center;
}

.form-input {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-input i {
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 10px;
}

.form-control {
    height: 50px;
    background-color: #cbc5fa;
    text-indent: 24px;
    font-size: 15px;
}

.form-control:focus {
    background-color: #cbc5fa;
    box-shadow: none;
    color: #010a36;
    border-color: #21a9cf;
    border-width: 2px;
}

.form-check-label {
    margin-top: 2px;
    font-size: 14px;
}

.signup {
    height: 45px;
    font-size: 14px;
    margin-left: 20%;
    margin-right: 20%;
    width:60%;
}

.infields {
  margin: auto;
  width: 30%;
  min-width: 300px;
}